{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Remedy{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Remedy Name</label>
      <div class="col-sm-6">
      <input name="name" class="form-control" id="name" value="{{ request.form['name'] }}" required>
        </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Potency</label>
      <div class="col-sm-3">
        <select class="form-select" name="potency">
          <option selected>Select a Potency</option>
          {% for p in potency_list %}
            <option value="{{ p.id }}">{{ p.potency }}</option>
          {% endfor %}
        </select>
        </div>
    </div>
    <div class="row mb-3">
    <label for="materia_medica_link" class="col-sm-2 col-form-label">Materia Medica</label>
      <div class="col-sm-8">
        <input name="materia_medica_link" class="form-control" id="materia_medica_link" value="{{ request.form['materia_medica_link'] }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Save">Save</button><a class="btn btn-secondary" role="button" href="/">Cancel</a>
  </form>

{% endblock %}
