{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Remedy{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Remedy Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label>Potency</label>
    <select name="potency">
      {% for p in potency_list %}
        <option value="{{ p.id }}">{{ p.potency }}</option>
      {% endfor %}
    </select>
    <label for="materia_medica_link">Materia Medica Link</label>
    <input name="materia_medica_link" id="materia_medica_link" value="{{ request.form['materia_medica_link'] }}">
    <input type="submit" value="Save"><input type="submit" value="Cancel">
  </form>
{% endblock %}
