{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Available Remedies{% endblock %}</h3>
  {% if g.user %}
    <a class="action" href="{{ url_for('homeo.create') }}">Add New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
          <th scope="col">Remedy</th>
          <th scope="col">Material Media Link</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for remedy in remedies %}
      <tr>
        <td>{{ remedy['Name'] }} {{ remedy['Potency'] }}</td>
        <td><a href="{{ remedy['materia_medica_link'] }}" target="_blank">{{ remedy['materia_medica_link'] }}</a></td>
        {% if g.user %}
        <td><a class="action" href="{{ url_for('homeo.update', id=remedy['id']) }}">Edit</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}