{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Available Potencies{% endblock %}</h3>
  {% if g.user %}
    <a class="action" href="{{ url_for('homeo.add_p') }}">Add New Potency</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Potency</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for p in potencies %}
      <tr>
        <td>{{ p['Id'] }}</td>
        <td>{{ p['Potency'] }}</td>
        <td><a class="action" href="{{ url_for('homeo.update_p', id=p['id']) }}">Edit</a></td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}