{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Log In{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="row mb-2">
      <label class="col-sm-1 col-form-label" for="username">Username</label>
      <div class="col-sm-2">
        <input class="form-control" name="username" id="username" required>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-1 col-form-label" for="password">Password</label>
    <div class="col-sm-2">
        <input class="form-control" type="password" name="password" id="password" required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" value="Log In">Log In</button><a class="btn btn-secondary" role="button" href="/">Cancel</a>
  </form>
{% endblock %}